.add-event-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: #ebebec;
    border-radius: 8px;
    max-width: 100%;
    overflow: hidden;
}

.full-width {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.datetime-inputs {
    display: flex;
    gap: 10px;
    align-items: center;
}

.datetime-inputs div {
    flex: 1;
}

.datetime-inputs label {
    font-size: 14px;
    margin-right: 10px;
}

textarea {
    resize: vertical;
    max-width: 100%;
    box-sizing: border-box;
    font-size: 14px;
}

button {
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background-color: #5f97ba;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #074759;
}

.error-message {
    color: red;
    font-size: 0.9em;
}

.all-day-checkbox {
    display: flex;
    align-items: center;
}

.all-day-checkbox label {
    font-size: 14px;
}

.all-day-checkbox input[type="checkbox"] {
    width: 14px;
    height: 14px;
    cursor: pointer;
    accent-color: #5f97ba;
}

.datetime-inputs input[type="time"]:disabled {
    background-color: #ebebec;
    color: #ccc;
    cursor: not-allowed;
}