.rbc-toolbar button.middle-button {
    background-color: #5f97ba;
    color: white;
  }
  
  /* optional: add hover effect     */
  .rbc-toolbar button.middle-button:hover {
    background-color: #4a86a9;
  }
  
  /* optional: add active effect     */
  .rbc-toolbar button.middle-button:active {
    background-color: #3c7598;
  }