.event-overview {
    width: 300px;
    background-color: #ffffff;
    border-left: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    height: 100vh;
}

.event-overview-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
