.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.all-the-view-box {
  height: 100vh;
  display: flex;
}

.calendar-box {
  flex: 1;
  padding: 10px;
  overflow: hidden;
}

.event-overview-box {
  width: 0;
  max-width: 300px;
  overflow: hidden;
  transition: transform 0.5s ease, width 0.5s ease;
  transform: translateX(100%);
}

.event-overview-box.open {
  width: 300px;
  transform: translateX(0);
}

.event-overview-box.closed {
  width: 0;
  transform: translateX(100%);
}

.toggle-overview-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  padding: 10px 20px;
  font-size: 15px;
  background-color: #3173ac;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}